<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4 style="text-align:right" *ngIf="item.id">تعديل طلبية<small>{{ item.title }}</small></h4>
            <h4 style="text-align:right"*ngIf="!item.id">اضافة طلبية <small>{{ item.title }}</small></h4>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>

          <form (ngSubmit)="onSubmit()" class="ngForm form-horizontal ">


            <mat-form-field class=" col-md-6 col-xs-12">
              <input matInput [(ngModel)]="item.title" id="title" name="title" placeholder="اسم الطلبية">
            </mat-form-field>
            <div class="clearfix"><br /></div>
            <mat-form-field class=" col-md-6 col-xs-12">
              <mat-select [(ngModel)]="item.companyId" id="companyId" name="companyId">
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{company.title}}
                </mat-option>
              </mat-select>
              <mat-placeholder style="float:right">اسم الشركة</mat-placeholder>

            </mat-form-field>
            <div class="clearfix"><br /></div>
            <mat-form-field class=" col-md-6 col-xs-12">
              <mat-select [(ngModel)]="item.typeId" id="typeId" name="typeId">
                   <mat-option *ngFor="let type of types" [value]="type.id">
                  {{type.title}}
                </mat-option>
              </mat-select>
              <mat-placeholder style="float:right">نوع الطلبية</mat-placeholder>
            </mat-form-field>
            <div class="clearfix"><br /></div>
            <mat-form-field class=" col-md-3 col-xs-6">
              <input matInput [(ngModel)]="item.height" id="height" name="height" placeholder="الطول">
            </mat-form-field>
            <mat-form-field class=" col-md-3 col-xs-6">
              <input matInput [(ngModel)]="item.width" id="width" name="width" placeholder="العرض">
            </mat-form-field>
            <div class="clearfix"><br /></div>
            <mat-form-field class=" col-md-6 col-xs-12">
              <input matInput [(ngModel)]="item.pnumber" id="pnumber" name="pnumber" placeholder="عدد الطبعات">
            </mat-form-field>
            <div class="clearfix"><br /></div>
            <mat-form-field class=" col-md-6 col-xs-12">
              <input matInput [(ngModel)]="item.notes" id="notes" name="notes" placeholder="ملاحظات">
            </mat-form-field>
            <div class="clearfix"><br /></div>


            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a mat-raised-button color="primary" [routerLink]="['/Prints']">الغاء</a>
                <button mat-raised-button style="background-color:limegreen" type="submit">حفظ</button>
              </div>
            </div>

          </form>
  

        </div>
    </div>
</div>

